            <nav>
                <button class="nav-toggle" aria-label="Toggle Navigation">☰</button>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/all/">All Games</a></li>
                    <li><a href="/minesweeper/">Minesweeper</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </nav>