        <section class="games">
            <div class="container">
              <h2>Trending Games</h2>
                 <div class="game-grid">

                  <div class="game"><a href="https://www.dragonsweepers.net/google-minesweeper/" title="Google Minesweeper">
                        <div class="game-logo game-l-2">
                            <img src="/google minesweeper.png" alt="Google Minesweeper">
                         </div>
                        <p>Google Minesweeper</p></a>
                    </div>

                   <div class="game"><a href="https://www.dragonsweepers.net/minesweeper/" title="Minesweeper">
                        <div class="game-logo game-l-2">
                            <img src="/minesweeper.png" alt="Minesweeper">
                         </div>
                        <p>Minesweeper</p></a>
                    </div>

                   <div class="game"><a href="https://www.dragonsweepers.net/" title="dragonsweeper">
                        <div class="game-logo game-l-2">
                            <img src="/play-bg-1.png" alt="dragonsweeper">
                         </div>
                        <p>dragonsweeper</p></a>
                    </div>


                 </div>
                 <style>.more{width: 130px;margin: 40px auto 0 auto;border: 1px solid #eee;border-radius: 7px;padding: 10px;text-align: center;color: #fff;font-weight: 900;font-size: 20px}.more a:hover{color:#fff}</style>
                 <div class="more"><a href="/all/">More Games</a></div>
            </div>
        </section>